img {
    width: 10%;
    object-fit: contain;
    /* it will give the object ratio of the image and it will never disturbed */
}

.navbar {
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px rgb(222, 216, 216);
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 1px 15px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}